/** TODO: Assign Colours **/
.primary-bg{background-color: #463B5A;}
.secondary-bg{background-color: #79738B;}
.tertiary-bg{background-color: #9287A4;}
.quaternary-bg{background-color: #898594;}
.quinary-bg{background-color: #EEEFF3;}

.primary-txt{color: #2d2d2d;}
.secondary-txt{color: #79738B;}
.tertiary-txt{color: #9287A4;}
.quaternary-txt{color: #898594;}
.quinary-txt {color: #EEEFF3;}