@import 'main-colours.css';
@import 'articles.css';
@import 'sidebar.css';
@import 'contact.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #EEEFF3; 
}
.container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "nav nav nav nav nav nav nav nav"
        "main main main main main main side side"
        "foot foot foot foot foot foot foot foot";
}
nav{
    display: flex;
    height: 50px;
    align-items: center;
    grid-area: nav;
}
.nav-link{
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
}
.nav-link:hover{
    color: #ffffff;
    transition: 1s;
}
.content{
    margin: 20px;
    grid-area: main;
}
.page-title{
    margin-top: 0;
    margin-bottom: 20px;
}
.article{
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
}
.image-card{
    width: 400px;
    height: 200px;
}
.short-text{
    text-align: left;
}
.btn-read{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.btn-read:hover{
    background-color: #79738B;
    transition: 0.5s;
}
.main-img{
    width: 100%;
}
footer{
    display: flex;
    height: 50px;
    align-items: center;
    justify-items: center;
    grid-area: foot;
}
.copyright-notice{
    flex-basis: 100%;
    text-align: center;
}

/* Tablet Mode Less than 900px and greater than 600px */
@media (min-width: 600px) and (max-width: 900px){
    .container{
        grid-template: "nav nav nav nav nav nav nav nav"
        "main main main main main side side side"
        "foot foot foot foot foot foot foot foot";
    }
}

/* Phone Mode less than 599px */
@media (max-width: 599px){
    .container{
        grid-template: "nav nav nav nav nav nav nav nav"
        "main main main main main main main main"
        "side side side side side side side side"
        "foot foot foot foot foot foot foot foot";
    }
}